body {
  background-color: #FcFcFc;
}

h1 {
  background-color: #ffcc00;
  color: black;
  font-size: 4em;
  line-height: 4em;
  text-align: center;
  font-family: 'Pacifico', cursive;
  border-radius: 25px;
}

h3 {
  background-color: #ffcc00;
  color: black;
  border-radius: 10px;
  padding: 3px;
  padding-left: 15px;
}

#info h4 {
  text-align: center;
}

#listPlayerScores h3 {
  background-color: inherit;
}

button{
  margin: 6px;
}

.btn-default {
  background-color: #ffcc00;
  color: black;
}

#displayDie {
  border: solid 5px black;
  display: block;
  margin: auto;
}
